<br />
<div class="card-columns">
    <div class="card text-white bg-primary mb-3 zoom" style="max-width: 30rem;">
        <a href="spells" class="no-link text-white">
        <div class="card-body">
            <%= image_tag("menu/spell-book.png", alt: "Spells", class: "align-center", style: 'width:100%;height:auto;') %>
        </div>
        <div class="card-footer text-center">Spells</div>
        </a>
    </div>

    <div class="card text-white bg-secondary mb-3 zoom" style="max-width: 30rem;">
        <a href="" class="no-link text-white">
        <div class="card-body">
            <%= image_tag("menu/dwarf-face.png", alt: "Races", class: "align-center", style: 'width:100%;height:auto;') %>
        </div>
        <div class="card-footer text-center">Races</div>
        </a>
    </div>

    <div class="card text-white bg-primary mb-3 zoom" style="max-width: 30rem;">
        <a href="materials" class="no-link text-white">
        <div class="card-body">
            <%= image_tag("menu/gold-bar.png", alt: "Materials", class: "align-center", style: 'width:100%;height:auto;') %>
        </div>
        <div class="card-footer text-center">Materials</div>
        </a>
    </div>

    <div class="card text-white bg-secondary mb-3 zoom" style="max-width: 30rem;">
        <a href="" class="no-link text-white">
        <div class="card-body">
            <%= image_tag("menu/pointy-hat.png", alt: "Classes", class: "align-center", style: 'width:100%;height:auto;') %>
        </div>
        <div class="card-footer text-center">Classes</div>
        </a>
    </div>

    <div class="card text-white bg-secondary mb-3 zoom" style="max-width: 30rem;">
        <a href="" class="no-link text-white">
        <div class="card-body">
            <%= image_tag("menu/mimic-chest.png", alt: "Monsters", class: "align-center", style: 'width:100%;height:auto;') %>
        </div>
        <div class="card-footer text-center">Monsters</div>
        </a>
    </div>

    <div class="card text-white bg-primary mb-3 zoom" style="max-width: 30rem;">
        <a href="feats" class="no-link text-white">
        <div class="card-body">
            <%= image_tag("menu/achievement.png", alt: "Feats", class: "align-center", style: 'width:100%;height:auto;') %>
        </div>
        <div class="card-footer text-center">Feats</div>
        </a>
    </div>
</div>