<!DOCTYPE html>
<html>
  <head>
    <title>DnD</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/">Home</a>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse" id="navbarColor01" style="">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/spells">Spells</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/materials">Materials</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/feats">Feats</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
      </ul>
      <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-success active">
          <input id="official_button" type="checkbox" checked="" autocomplete="off" value="official"> Official
        </label>
      </div>
      <%# <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      </form> %>
    </div>
  </nav>
  <body>
    <div class="container">
    <br />
      <% if request.env['PATH_INFO'] != '/'%>
      <ol class ="breadcrumb">
          <%= render_breadcrumbs :tag => :li, :separator => "/" %>
      </ol>
      <% end%>
      <%= yield %>
    </div>
  </body>
</html>

<script>
  $('#official_button').change(function() {
    if($(this).val() == 'official') {
      $(this).parent().removeClass('btn-success');
      $(this).parent().addClass('btn-danger');
      $(this).val('homebrew');
      $(this).text('Homebrew');
    }
    else {
      $(this).parent().removeClass('btn-danger');
      $(this).parent().addClass('btn-success');
      $(this).val('official');
      $(this).text('Official');
    }
  });
</script>
